@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
  --main-color: #D77317;
  --btn-color-main: #3E3CAE;
  --btn-color-hover: #211F97;
  --color-white: #F6F6F6;
  --color-black: #191919;
}

body{
    background-color: var(--color-white);
}

*{
    color: var(--color-black);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--color-black);
}

.register{
    display: flex;
}
.frame-register{
    background-image: url(../img/frame-login.png);
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 100vh; 
}
.register-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.btn-switch-content{
    display: flex;
    margin-bottom: 40px;
    gap: 4px;
}
.btn-switch-content button {
    font-size: 20px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    cursor: pointer;
}

.border-class {
    border-bottom: 3px solid var(--main-color) !important; 
}
.all-forms{
    width: 60%;
}
form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 8px;
    padding: 20px;
}
form input[type= "text"],[type="email"],[type="password"],[type="tel"]::placeholder{
    font-weight: 600;
    padding-left: 16px;
}
form input[type= "text"],[type="email"],[type="password"],[type="tel"]{
    height: 40px;
    border: 1px solid #C6C6C6;
    border-radius: 8px;
}
form input[type="submit"]{
    grid-column: span 2;
    height: 45px;
    border: none;
    border-radius: 8px;
    background-color: var(--btn-color-main);
    color: var(--color-white);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
}
form input[type="submit"]:hover {
    background-color: var(--btn-color-hover);
}
.form-hidden{
    display: none;
}